services:
  server:
    build: ./server
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/social_media
    volumes:
      - ./server/prisma:/app/prisma
      - ./server/src/generated:/app/src/generated
    depends_on:
      - db

  client:
    build: ./client
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - server

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_media
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
