services:
  server:
    build: ./server
    container_name: backend
    ports:
      - "4000:4000"

  client:
    build: ./client
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - server
